body {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
}

h2 {
  font-family: "Exo 2", sans-serif;
  font-style: normal;
  font-weight: 600;
}

h5 {
}

.main {
  background: #0b7572;
  min-height: 700px;
  padding-top: 75px;
  padding-bottom: 125px;
}

.main-title {
  font-size: 28px;
  line-height: 125%;
  margin-bottom: 32px;
  color: white;
}

.main-description {
  font-size: 15px;
  line-height: 150%;
  margin-bottom: 32px;
  color: white;
}

.main-link {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: white;
  text-decoration: none;
  font-size: 15px;
  line-height: 150%;
  border-bottom: 3px solid #ffce50;
  padding-bottom: 5px;
}

.main-image {
  margin: 40px auto 56px;
}

.services {
  margin-bottom: 64px;
  margin-top: -140px;
  padding-bottom: 16px;
  padding-top: 16px;
}

.services-shadow-container {
  background-color: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 24px 27px 32px 32px;
}

.services-list {
  padding: 0;
  list-style-type: none;
}
.services-icon-container {
  width: 68px;
  height: 68px;
  background-color: #e9e9ec;
  border-radius: 68px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients {
  background-color: #0b7572;
  padding: 32px 0 32px;
}

.clients-title {
  font-size: 28px;
  line-height: 125%;
  color: #ffffff;
  margin-bottom: 40px;
}

.clients-container {
  background-color: #ffffff;
  border-radius: 4px;
  padding: 24px 16px;
}

.clients-top-title {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 150%;
  color: #ffffff;
  background-color: #0b7572;
  border-radius: 2px;
  padding: 6px 16px;
  margin-top: 25px;
  margin-bottom: 0;
}

.clients-case {
  background-color: #f9f9fb;
  padding: 0 16px;
}

.clients-case p {
  font-size: 14px;
  line-height: 135%;
  color: #6b6b6c;
  margin-bottom: 10px;
}

.clients-case p strong {
  font-weight: bold;
  color: #363738;
}

.clients-case p a {
  font-size: inherit;
  line-height: inherit;
  color: #363738;
  text-decoration: none;
}

.clients-case-description {
  display: flex;
}

.clients-case-description-text {
  margin-left: 16px;
}

.clients-case > div:not(:last-child) {
  border-bottom: 1px solid #d7d7dd;
}

.clients-case-description,
.clients-case-contact,
.clients-case-location {
  padding: 16px 0;
}

.clients-logo-list {
  list-style-type: none;
}

.clients-logo-item {
  text-align: center;
  height: 176px;
}

.why-us {
  margin: 64px 0;
}

.why-us-title {
  font-size: 28px;
  line-height: 125%;
}
.why-us-list {
  list-style-type: none;
  padding: 0px;
  margin-top: 48px;
}

.why-us-list-item {
  display: flex;
}

.why-us-list-item:not(:last-child) {
  margin-bottom: 32px;
}

.why-us-icon-container {
  width: 52px;
  height: 52px;
  border-radius: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e9e9ec;
}

.why-us-text-container {
  width: 269px;
  margin-left: 16px;
}

.why-us-item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 135%;
  color: #363738;
}

.why-us-item-description {
  font-family: PT Sans;
  font-size: 15px;
  line-height: 150%;
  color: #6b6b6c;
  margin-bottom: 0;
}

.our-works {
  margin: 64px 0;
}

.our-works-title {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 125%;
  color: #363738;
  margin-bottom: 20px;
}

.our-works-first-description {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 150%;
  color: #6b6b6c;
  margin-bottom: 30px;
}

.our-works-shadow-container {
  display: flex;
  flex-direction: column;
}

.our-works-description-title {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 135%;
  color: #363738;
}

.our-works-second-text {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 150%;
}

.our-works-second-description {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 24px;
  padding-bottom: 8px;
  color: #6b6b6c;
}

.our-works-second-description p strong {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 135%;
  margin-bottom: 0;
  border-bottom: 3px solid #ffce50;
  padding-bottom: 5px;
}

.carousel {
  padding-bottom: 50px;
}

.carousel-indicators {
  margin-bottom: 0;
}
.carousel-indicators [data-bs-target] {
  background: #e9e9ec;
  position: relative;
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 12px;
  box-sizing: border-box;
  opacity: 1;
  border: 0;
}

.carousel-indicators [data-bs-target]::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 28px;
  width: 28px;
  border-radius: 28px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
}

.carousel-indicators [data-bs-target].active {
  background-color: #0b7572;
}

.carousel-indicators [data-bs-target].active::after {
  border-color: #0b7572;
}

.contacts {
  margin-top: 58px;
}

.contacts-title {
  font-size: 28px;
  line-height: 125%;
  color: #363738;
}

.contacts-list {
  margin-top: 56px;
  margin-bottom: 72px;
  list-style-type: none;
  padding: 0;
}

.contacts-list-item {
  display: flex;
  margin-top: 50px;
}

.contacts-text-container {
  margin-left: 40px;
}

.contacts-item-title {
  color: #6b6b6c;
  font-size: 15px;
  line-height: 150%;
}

.contacts-item-link {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #363738;
}

.proceedings-box {
  background: #f9f9fb;
  border-radius: 5px;
  margin: 72px 16px 32px 16px;
  padding: 40px 24px 48px 24px;
}

.proceedings-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.proceedings-item:not(:last-child) {
  margin-bottom: 24px;
  border-bottom: 1px solid #e9eaf2;
}

.proceedings-item-title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 125%;
  color: #6b6b6c;
}

.proceedings-item-information {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 135%;
  color: #363738;
}

.your-info {
  margin: 32px 15px 32px 15px;
}

.your-info-title {
  margin-bottom: 32px;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 125%;
  color: #363738;
}

.your-info-description-title {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 135%;
  color: #363738;
}

.your-info-text {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 150%;
  color: #363738;
}

.your-info-task {
  margin-bottom: 44px;
}

.your-info-task-title {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 135%;
  color: #363738;
}

.your-info-task-text {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 150%;
  color: #363738;
}

.your-info-photo-title {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 135%;
  color: #363738;
}

.our-team {
}

.our-team-title {
  margin-bottom: 32px;
  font-size: 28px;
  line-height: 125%;
}

.our-team-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.our-team-list-item {
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  background: #0b7572;
  overflow: hidden;
}

.our-team-item-container {
  display: flex;
  margin-left: 20px;
  background-color: white;
  padding: 24px 21px 32px 16px;
}

.our-team-list-item:not(:last-child) {
  margin-bottom: 14px;
}

.our-team-item-title {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.our-team-item-description {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.our-team-item-description img:not(:last-child) {
  margin-right: 20px;
}

.our-team-item-position {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #6b6b6c;
  margin-bottom: 24px;
  position: relative;
}

.our-team-item-position::after {
  content: "";
  width: 86px;
  height: 3px;
  background-color: #ffce50;
  position: absolute;
  left: 0px;
  bottom: -6px;
}
